.registration {
    padding: rem(80) 0 rem(100);

    &__blocks {
        display: grid;
        grid-template-columns: rem(200) 1fr;
        gap: 6.771vw;

        @include mobile {
            grid-template-columns: 1fr;
        }
    }

    &__info {
        position: sticky;
        top: rem(24);
        left: 0;
        z-index: 1;
    }
}