.speakers {
    padding: rem(80) 0;
    
    @include tablet {
        padding: rem(44) 0 rem(80);
    }

    &__blocks {
        display: flex;
        flex-direction: column;
        gap: rem(80);
    }

    &__block {
        &--info {
            .title {
                margin-bottom: rem(32);
            }

            .text {
                max-width: rem(540);
                width: 100%;
                margin-bottom: rem(16);
            }

            .subtext {
                max-width: rem(380);
                width: 100%;
            }
        }

        &--items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: rem(32) rem(60);

            @include to(rem(400)) {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        &--button {
            display: inline-flex;
            justify-content: center;
        }
    }
}