.sponsors {
    color: var(--color-black-soft);
    background-color: var(--color-yellow-soft);

    &__blocks {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: clamp(rem(16), 2vw, rem(48)) clamp(rem(20), 2vw, rem(60));
        justify-content: space-between;
        margin-bottom: clamp(rem(20), 2vw, rem(40));

        @include mobile {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__block {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-beige-light);
        padding: rem(12);
        max-height: rem(180);

        svg {
            max-width: rem(160);
            width: 100%;
            height: rem(160);
        }
    }

    &__info {
        max-width: rem(660);
        width: 100%;
    }

    &__items {
        .button {
            align-self: center;
        }
    }
}