.the-lineup {
    color: var(--color-black-soft);
    background-color: var(--color-pink-light);

    &__transfers {
        @include to(rem(874)) {
            text-align: right;
        }

        p {
            font-size: clamp(rem(18), 6vw, rem(96));
            font-weight: 300;
            letter-spacing: -0.03em;
            text-wrap: nowrap;
        }
    }
}