.the-lineup {
    color: var(--color-black-soft);
    background-color: var(--color-pink-light);

    &__transfers {
        p {
            font-size: clamp(rem(18), 8vw, rem(96));
            font-weight:300;
            letter-spacing: -0.03em;
        }
    }
}