.the-lineup {
    color: var(--color-black-soft);
    background-color: var(--color-pink-light);

    &__transfers {
        p {
            font-size: clamp(18px, 8vw, 96px);
            font-weight:300;
            letter-spacing: -0.03em;
        }
    }
}