.header {
    padding: rem(24) 0;

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(10);
    }

    &__logo {
        transition: var(--transition-1);

        @include mobile {
            align-self: flex-start;
        }

        svg {
            max-width: clamp(rem(130), 20vw, rem(206));
            width: auto;
            height: clamp(rem(20), 20vw, rem(38));
        }

        @media (hover: hover) and (pointer: fine) {

            &:hover,
            &:focus-visible {
                color: var(--color-orange-bright);
            }

            &:active {
                color: var(--color-blue-classic);
            }
        }

        @media (hover: none) and (pointer: coarse) {

            &:active {
                color: var(--color-blue-classic);
            }
        }
    }

    &__title {
        font-size: clamp(rem(14), 2vw, rem(16));
        line-height: 135%;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        max-width: rem(280);

        @include mobile {
            max-width: rem(180);
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: rem(8) 0;
        
        @include mobile {
            flex-direction: column-reverse;
        }

        .button {
            @include mobile {
                align-self: flex-end;
            }
        }
    }

    &--color-yellow-soft {
        .header__logo {
            color: var(--color-yellow-soft);
        }
    }
}