.button--color {
    &-blue-classic {
        color: var(--color-yellow-soft);
        background-color: var(--color-blue-classic);

        @media (hover: hover) and (pointer: fine) {

            &:hover,
            &:focus-visible {
                color: var(--color-blue-dark);
                background-color: var(--color-orange-bright);
            }

            &:active {
                color: var(--color-blue-classic);
                background-color: var(--color-yellow-bright);
            }
        }

        @media (hover: none) and (pointer: coarse) {

            &:active {
                color: var(--color-blue-classic);
                background-color: var(--color-yellow-bright);
            }
        }
    }
}