.button--color {
    &-transparent {
        color: var(--color-black-soft);
        background-color: transparent;

        span {
            text-decoration: underline dashed rem(2);
            text-underline-offset: rem(4);
        }

        @media (hover: hover) and (pointer: fine) {

            &:hover,
            &:focus-visible {
                color: var(--color-blue-light);
                background-color: var(--color-green-bright);
            }

            &:active {
                color: var(--color-blue-light);
                background-color: var(--color-green-dark);
            }
        }

        @media (hover: none) and (pointer: coarse) {

            &:active {
                color: var(--color-blue-light);
                background-color: var(--color-green-dark);
            }
        }
    }
}