.button {
    align-self: baseline;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: rem(8);
    font-size: clamp(rem(10), 2vw, rem(16));
    font-weight: 400;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    text-decoration: none;
    text-decoration-color: transparent;
    border-radius: rem(60);
    user-select: none;
    position: relative;
    cursor: pointer;
    transition: var(--transition-1);

    &:hover,
    &:focus-visible {
        text-decoration: none;
    }

    @media (hover: hover) {
        &:hover {
            text-decoration: none;
        }
    }

    @media (hover: none) {
        &:active {
            text-decoration: none;
        }
    }

    &--sm {
        svg {
            width: rem(12);
            height: rem(12);
        }
    }

    &--md {
        min-height: rem(58);
        padding: rem(19) rem(32);
    }

    &--xlg {
        max-width: rem(630);
        width: 100%;
        min-height: rem(242);
        padding: rem(19) rem(32);
        text-transform: unset;
        font-size: rem(48);
        font-weight: 300;
        letter-spacing: -0.01em;
        border-radius: rem(300);
    }
}