<footer class="footer">
    <div class="footer-decoration footer-decoration--@@decoration"></div>
    <div class="container">
        <div class="footer__blocks">
            <div class="footer__block footer__block--main">
                <a href="/" class="footer__logo">
                    <svg>
                        <use href="img/sprites/icon.svg#logo-figma"></use>
                    </svg>
                </a>
                <div class="footer__items">
                    <div class="footer__item">
                        <h3 class="footer__title">
                            Menu
                        </h3>
                        <nav class="footer__nav">
                            <ul class="footer__nav-list">
                                <li>
                                    <a href="speakers">
                                        <span>Speakers</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/registration">
                                        <span>Get tickets</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="footer__item">
                        <h3 class="footer__title">
                            Resources
                        </h3>
                        <nav class="footer__nav">
                            <ul class="footer__nav-list">
                                <li>
                                    <a href="#" target="_blank">
                                        <span>Why attend</span>
                                        <sup>↗</sup>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <span>FAQ</span>
                                        <sup>↗</sup>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <span>Sponsors</span>
                                        <sup>↗</sup>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <span>Hotels</span>
                                        <sup>↗</sup>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <span>Visa letters</span>
                                        <sup>↗</sup>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <span>Code of conduct</span>
                                        <sup>↗</sup>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="footer__item">
                        <h3 class="footer__title">
                            Follow
                        </h3>
                        <nav class="footer__nav">
                            <ul class="footer__nav-list">
                                <li>
                                    <a href="#" target="_blank">
                                        <span>X</span>
                                        <sup>↗</sup>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <span>LinkedIn</span>
                                        <sup>↗</sup>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <span>nelzyagram</span>
                                        <sup>↗</sup>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <span>YouTube</span>
                                        <sup>↗</sup>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="footer__block footer__block--logo">
                <svg>
                    <use href="img/sprites/icon.svg#logo"></use>
                </svg>
            </div>
            <div class="footer__block footer__block--copyright">
                @@include("shared/buttons/button-icon.html", {
                "tag":"button",
                "href":"",
                "type":"type='button'",
                "size":"sm",
                "color":"text",
                "title":"English",
                "attribute":"",
                "icon":"icon.svg#world",
                })
                <span>↓</span>
                @@include("shared/buttons/button.html", {
                "tag":"button",
                "href":"",
                "type":"type='button'",
                "size":"sm",
                "color":"text",
                "title":"Cookie settings",
                "attribute":"",
                })
                <span>/</span>
                <span>
                    © Figma <span id="year"></span>
                </span>
            </div>
        </div>
    </div>
</footer>

@@include("app/scripts.html")