<footer class="footer">
    <div class="container">
        <div class="footer__blocks">
            <div class="footer__block footer__block--main">
                <a href="/" class="footer__logo">
                    <svg>
                        <use href="img/sprites/icon.svg#logo-figma"></use>
                    </svg>
                </a>
                <div class="footer__items">
                    <div class="footer__item">
                        <h3 class="footer__title">
                            Menu
                        </h3>
                        <nav class="footer__nav">
                            <ul class="footer__nav-list">
                                <li>
                                    <a href="/speakers">
                                        Speakers
                                    </a>
                                </li>
                                <li>
                                    <a href="/registration">
                                        Get tickets
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="footer__item">
                        <h3 class="footer__title">
                            Resources
                        </h3>
                        <nav class="footer__nav">
                            <ul class="footer__nav-list">
                                <li>
                                    <a href="#">
                                        Why attend
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        FAQ
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Sponsors
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Hotels
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Visa letters
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Code of conduct
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="footer__item">
                        <h3 class="footer__title">
                            Follow
                        </h3>
                        <nav class="footer__nav">
                            <ul class="footer__nav-list">
                                <li>
                                    <a href="#">
                                        X
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        LinkedIn
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        nelzyagram
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        YouTube
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="footer__block footer__block--logo">
                <svg>
                    <use href="img/sprites/icon.svg#logo"></use>
                </svg>
            </div>
            <div class="footer__block footer__block--copyright">
                ↓
            </div>
        </div>
    </div>
</footer>

@@include("app/scripts.html")