<header class="header">
    <div class="container">
        <div class="header__wrap">
            <h1 class="header__title">
                Figma&rsquo;s conference for people
                who build products
            </h1>
            <div class="header__buttons">
                @@include("shared/buttons/button.html", {
                    "tag":"a",
                    "href":"href='/speakers'",
                    "type":"",
                    "size":"md",
                    "color":"transparent",
                    "title":"Speakers",
                    "attribute":"",
                })
                @@include("shared/buttons/button.html", {
                    "tag":"a",
                    "href":"href='/registration'",
                    "type":"",
                    "size":"md",
                    "color":"black-soft",
                    "title":"Get tickets",
                    "attribute":"",
                })
            </div>
        </div>
    </div>
</header>