<!DOCTYPE html>
@@include('app/head.html',{
"lang":"ru",
"title":"Figma Config 2024 | June 26-27 Moscone Center SF",
})

<body>
  @@include("widgets/header.html")

  <main>
    @@include("components/header-info.html")
    @@include("components/anim-logo.html")
    @@include("components/anim-decor.html")

    @@include("components/join-us.html")
    @@include("components/the-lineup.html")
    @@include("components/sponsors.html")

  </main>

  @@include("widgets/footer.html", {
    "decoration":"1",
  })

</body>

</html>