html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  // scrollbar-gutter: stable;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@view-transition {
  navigation: auto;
}

body {
  font-family: var(--font-family-inter);
  font-size: rem(16);
  font-weight: 400;
  color: var(--color-black-soft);
  background: var(--color-blue-light);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100dvh;
}

img,
video {
  display: flex;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: initial;
}

button,
input,
label {
  outline: none;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
}

button,
input,
label,
textarea {
  border: initial;
  outline: initial;
}

button {
  background-color: initial;
  cursor: pointer;
}

svg {
  display: flex;
  color: inherit;
}