:root {
    --font-family-inter: "Inter", Helvetica, Arial, sans-serif;
    
    --color-white: #fff;
    --color-black: #000;
    --color-blue-light: #D5E1E1;
    --color-black-soft: #252525;
    --color-orange-bright: #FF6D38;
    --color-blue-dark: #1B1464;
    --color-blue-classic: #0000FF;
    --color-green-bright: #12A720;
    --color-yellow-soft: #FFF5DA;
    --color-beige-light: #F6ECD1;
    --color-pink-light: #F79CFF;
    --color-pink-bright: #ED58DF;
    --color-green-dark: #0C5238;
    --color-yellow-bright: #FFFF00;
    
    --transition-1: 0.3s;
    
    // Слои
    --zindex-popover: 900;
    --zindex-dropdown: 1000;
    --zindex-sidebar: 1010;
    --zindex-sticky: 1020;
    --zindex-fixed: 1030;
    --zindex-modal: 1055;
    --zindex-tooltip: 1080;
    --zindex-loader: 2080;
}

// Разрешения
$breakpoint-laptop: rem(1300);
$breakpoint-tablet: rem(1348);
$breakpoint-mobile: rem(768);