.speakers-item {
    border-bottom: rem(1) solid transparentize($color: #FFF5DA, $amount: 0.7);
    padding-bottom: rem(32);

    &__blocks {
        display: flex;
        justify-content: space-between;
        gap: rem(16);

        @include mobile {
            justify-content: initial;
            flex-direction: column;
        }
    }

    &__img {
        width: rem(150);
        height: rem(150);
        aspect-ratio: 1 / 1;
        flex-shrink: 1;
        max-width: 100%;
        max-height: 100%;
        position: relative;
        border-radius: rem(4);
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            scale: 1.01;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: rem(8);
        max-width: rem(390);
        width: 100%;
    }

    &__name {
        font-weight: 300;
        font-size: clamp(rem(16), 3vw, rem(24));
        line-height: 133%;
    }

    &__gen {
        font-weight: 400;
        font-size: clamp(rem(10), 2vw, 14px);
        line-height: 150%;
    }

    &__post {
        font-weight: 400;
        font-size: clamp(rem(14), 2vw, rem(16));
        line-height: 135%;
        letter-spacing: -0.01em;
        text-transform: uppercase;
    }

    &__badge {
        align-self: flex-start;
        font-size: rem(10);
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: var(--color-yellow-soft);
        padding: rem(6) rem(12);
        border-radius: rem(2);
        border-width: rem(1);
        border-style: solid;
        border-color: var(--color-yellow-soft);
    }
}