<div class="speakers-item">
    <div class="speakers-item__blocks">
        <div class="speakers-item__img">
            <picture>
                <source srcset="img/speaker-img-@@img.avif" type="image/avif">
                <source srcset="img/speaker-img-@@img.webp" type="image/webp">
                <img src="img/speaker-img-@img.jpg" loading="lazy" alt="image">
            </picture>
        </div>
        <div class="speakers-item__info">
            <div class="speakers-item__name">
                @@name
            </div>
            <div class="speakers-item__gen">
                @@gen
            </div>
            <div class="speakers-item__post">
                @@post
            </div>
            @@badge
        </div>
    </div>
</div>