<section class="header-info">
    <div class="container">
        <div class="header-info__wrap">
            <div class="header-info__icon">
                <svg>
                    <use href="img/sprites/icon.svg#rhombus"></use>
                </svg>
            </div>
            <div class="header-info__text">
                <p>
                    June 26-27<br>
                    2024
                </p>
                <p>
                    Moscone Center
                    San Francisco, CA
                </p>
            </div>
        </div>
    </div>
</section>