<section class="section join-us">
    <div class="container">
        <div class="section__blocks section__blocks--grid-hor-2">
            <div class="section__block">
                @@include("shared/titles/title.html", {
                "icon":"icon.svg#hourglass",
                "title":"Join us",
                })
                @@include("shared/subtitles/subtitle.html", {
                "subtitle":"Early bird tickets available now",
                })
                @@include("shared/texts/text.html", {
                "text":"Register now to&nbsp;save&nbsp;50% and be the first to&nbsp;reserve a&nbsp;seat at&nbsp;the most popular talks.",
                })
            </div>
            <div class="section__block">
                @@include("shared/buttons/button.html", {
                    "tag":"a",
                    "href":"href='registration'",
                    "type":"",
                    "size":"xlg",
                    "color":"blue-classic",
                    "title":"Get tickets",
                    "attribute":"",
                })
            </div>
        </div>
    </div>
</section>