<section class="registration">
    <div class="container">
        <div class="registration__blocks">
            <div class="registration__block">
                <div class="registration__info">
                    @@include("shared/titles/title.html", {
                    "icon":"icon.svg#stack",
                    "title":"Register",
                    })
                    @@include("shared/texts/text.html", {
                    "text":"Join&nbsp;us in&nbsp;June for Config 2024.",
                    })
                </div>
            </div>
            <div class="registration__block">
                <div class="registration-items">
                    <div class="registration-item">
                        <p class="registration-item__text">
                            Attend in&nbsp;person at&nbsp;<a href="#" target="_blank">Moscone Center</a> in&nbsp;San Francisco. Your ticket
                            includes
                            access
                            to&nbsp;the virtual Config experience too.
                        </p>
                        <div class="registration-item__blocks">
                            <a href="#" class="button-ticket button-ticket--hover-color-1">
                                <h2 class="button-ticket__title">
                                    Single in person ticket
                                </h2>
                                <div class="button-ticket__footer">
                                    <div class="button-ticket__footer-item">
                                        <span class="button-ticket__discount">
                                            $<span>699</span>
                                        </span>
                                        <span class="button-ticket__price">
                                            $<span>349.50</span>
                                        </span>
                                    </div>
                                    <div class="button-ticket__footer-item">
                                        <span class="button-ticket__offer">
                                            Early bird (50% off) while supplies last
                                        </span>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="button-ticket button-ticket--hover-color-2">
                                <h2 class="button-ticket__title">
                                    Multiple in&nbsp;person tickets
                                </h2>
                                <p class="button-ticket__text">
                                    Buy 3&nbsp;tickets, get 1&nbsp;free! Discount applied at&nbsp;checkout.
                                </p>
                                <div class="button-ticket__footer">
                                    <div class="button-ticket__footer-item">
                                        <span class="button-ticket__discount">
                                            $<span>699</span>
                                        </span>
                                        <span class="button-ticket__price">
                                            $<span>349.50</span>
                                        </span>
                                        <span class="button-ticket__booking">
                                            per attendee
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="registration-item">
                        <p class="registration-item__text">
                            Attend virtually from anywhere.
                        </p>
                        <div class="registration-item__blocks">
                            <a href="#" class="button-ticket button-ticket--hover-color-3">
                                <h2 class="button-ticket__title">
                                    Virtual
                                </h2>
                                <p class="button-ticket__text">
                                    Live-streaming online, limit one virtual ticket per attendee.
                                </p>
                                <div class="button-ticket__footer">
                                    <div class="button-ticket__footer-item">
                                        <span class="button-ticket__free">
                                            Free
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>