<section class="speakers">
    <div class="container">
        <div class="speakers__blocks">
            <div class="speakers__block speakers__block--info">
                @@include("shared/titles/title.html", {
                "icon":"icon.svg#asterisk",
                "title":"the lineup",
                })
                @@include("shared/texts/text.html", {
                "text":"More than 75&nbsp;speakers from around the globe will join&nbsp;us at&nbsp;Config 2024 to&nbsp;share how they&rsquo;re thinking, what they&rsquo;re making, and what&rsquo;s next.",
                })

                @@include("shared/subtexts/subtext.html", {
                "subtext":"Attendees will leave feeling more connected to&nbsp;a community of&nbsp;builders and to&nbsp;the future of&nbsp;product development.",
                })
            </div>
            <div class="speakers__block speakers__block--items">
                @@include("shared/cards/speakers-item.html", {
                "img":"01",
                "name":"Jesper Kouthoofd",
                "gen":"he/him",
                "post":"Head of&nbsp;Design &amp;&nbsp;Chief Executive Officer at&nbsp;Teenage Engineering",
                })
                @@include("shared/cards/speakers-item.html", {
                "img":"02",
                "name":"Karla Mickens Cole",
                "gen":"she/her",
                "post":"Product Designer &amp;&nbsp;Brand Lead at&nbsp;The Browser Company",
                })
                @@include("shared/cards/speakers-item.html", {
                "img":"03",
                "name":"Jenny Arden",
                "gen":"she/her",
                "post":"Chief Design Officer at&nbsp;Zillow",
                })
                @@include("shared/cards/speakers-item.html", {
                "img":"04",
                "name":"Imran Chaudhri",
                "gen":"he/him",
                "post":"President &amp;&nbsp;Chief Designer at&nbsp;Humane",
                })
                @@include("shared/cards/speakers-item.html", {
                "img":"05",
                "name":"Refik Anadol",
                "gen":"he/him",
                "post":"Director at&nbsp;Refik Anadol Studios",
                })
                @@include("shared/cards/speakers-item.html", {
                "img":"06",
                "name":"Neha Batra",
                "gen":"she/her",
                "post":"Vice President of&nbsp;Engineering at&nbsp;Github",
                })
                @@include("shared/cards/speakers-item.html", {
                "img":"07",
                "name":"Alexis Palmer",
                "gen":"she/her",
                "post":"Comedian",
                })
                @@include("shared/cards/speakers-item.html", {
                "img":"08",
                "name":"Josh Wardle",
                "gen":"he/him",
                "post":"Artist &amp;&nbsp;Software Engineer at&nbsp;Gremco Industries, Creator of&nbsp;Wordle",
                })
                @@include("shared/cards/speakers-item.html", {
                "img":"09",
                "name":"Aravind Srinivas",
                "gen":"he/him",
                "post":"Chief Executive Officer &amp;&nbsp;Co-Founder at perplexity.ai",
                })
                @@include("shared/cards/speakers-item.html", {
                "img":"10",
                "name":"Jessica Hische",
                "gen":"she/her",
                "post":"Lettering Artist at&nbsp;Jessica Hische Inc.",
                })
                @@include("shared/cards/speakers-item.html", {
                "img":"11",
                "name":"Claire Vo",
                "gen":"she/her",
                "post":"Chief Product Officer at&nbsp;LaunchDarkly",
                })
                @@include("shared/cards/speakers-item.html", {
                "img":"12",
                "name":"Lenny Rachitsky",
                "gen":"he/him",
                "post":"Author at&nbsp;Lenny&rsquo;s Podcast // Lenny&rsquo;s Newsletter",
                })
                @@include("shared/cards/speakers-item.html", {
                "img":"13",
                "name":"Regin&eacute; Gilbert",
                "gen":"she/her",
                "post":"James Weldon Johnson Professor at&nbsp;New York University",
                })
                @@include("shared/cards/speakers-item.html", {
                "img":"14",
                "name":"Andy Allen",
                "gen":"he/him",
                "post":"Software Designer at !Boring",
                })
                @@include("shared/cards/speakers-item.html", {
                "img":"15",
                "name":"Jason Ballard",
                "gen":"he/him",
                "post":"CEO &amp;&nbsp;Co-founder at&nbsp;ICON",
                })
                @@include("shared/cards/speakers-item.html", {
                "img":"16",
                "name":"Saron Yitbarek",
                "gen":"she/her",
                "post":"Creator at&nbsp;Not A&nbsp;Designer",
                })
                @@include("shared/cards/speakers-item.html", {
                "img":"17",
                "name":"Hongyi Li",
                "gen":"he/him",
                "post":"Director at&nbsp;Open Government Products",
                })
                @@include("shared/cards/speakers-item.html", {
                "img":"18",
                "name":"Diana Mounter",
                "gen":"she/her",
                "post":"Head of&nbsp;Design at&nbsp;Github",
                })
                @@include("shared/cards/speakers-item.html", {
                "img":"19",
                "name":"Kevin Systrom",
                "gen":"he/him",
                "post":"Former CEO at&nbsp;Instagram, CEO at Artifact",
                })
                @@include("shared/cards/speakers-item.html", {
                "img":"20",
                "name":"Oliver Sommermann",
                "gen":"he/him",
                "post":"User Researcher at&nbsp;Ableton",
                })
                @@include("shared/cards/speakers-item.html", {
                "img":"21",
                "name":"Pablo S&aacute;nchez",
                "gen":"he/him",
                "post":"Principal Designer at&nbsp;Ableton",
                })
                @@include("shared/cards/speakers-item.html", {
                "img":"22",
                "name":"Ovetta Sampson",
                "gen":"she/her",
                "post":"Director of&nbsp;UX&nbsp;Machine Learning at Google",
                })
                @@include("shared/cards/speakers-item.html", {
                "img":"23",
                "name":"Mike Stern",
                "gen":"He/him",
                "post":"Design Evangelism Manager at&nbsp;Apple",
                })
                @@include("shared/cards/speakers-item.html", {
                "img":"24",
                "name":"Linda Dong",
                "gen":"she/her",
                "post":"Design Evangelist at&nbsp;Apple",
                })
            </div>
            <div class="speakers__block speakers__block--button">
                @@include("shared/buttons/button.html", {
                "tag":"button",
                "href":"Linda Dong",
                "type":"type='button'",
                "size":"md",
                "color":"border-dashed",
                "title":"load more",
                "attribute":"",
                })
            </div>
        </div>
    </div>
</section>