<section class="section sponsors">
    <div class="container">
        <div class="section__blocks">
            <div class="section__block">
                @@include("shared/titles/title.html", {
                "icon":"icon.svg#hourglass",
                "title":"Sponsors",
                })
                @@include("shared/subtitles/subtitle.html", {
                "subtitle":"Thank you to&nbsp;our sponsors",
                })
                @@include("shared/subtexts/subtext.html", {
                "subtext":"We&rsquo;re excited to&nbsp;bring you an&nbsp;incredible Config experience, made possible by&nbsp;the support of&nbsp;our sponsors.",
                })
            </div>
            <div class="section__block">
                <div class="sponsors__blocks">
                    <div class="sponsors__block">
                            Тест
                    </div>
                    <div class="sponsors__block">
                        Тест
                    </div>
                    <div class="sponsors__block">
                        Тест
                    </div>
                    <div class="sponsors__block">
                        Тест
                    </div>
                    <div class="sponsors__block">
                        Тест
                    </div>
                    <div class="sponsors__block">
                        Тест
                    </div>
                    <div class="sponsors__block">
                        Тест
                    </div>
                    <div class="sponsors__block">
                        Тест
                    </div>
                </div>
                @@include("shared/buttons/button.html", {
                    "tag":"button",
                    "href":"",
                    "type":"button",
                    "size":"md",
                    "color":"border-dashed",
                    "title":"See all sponsors",
                    "attribute":"",
                })
            </div>
        </div>
    </div>
</section>