<section class="section the-lineup">
    <div class="container">
        <div class="section__blocks section__blocks--grid-hor-2">
            <div class="section__block">
                @@include("shared/titles/title.html", {
                    "icon":"icon.svg#asterisk",
                    "title":"The lineup",
                })
                @@include("shared/texts/text.html", {
                    "text":"2024 will be&nbsp;the most exciting Config yet, with programming designed to connect a&nbsp;dynamic community of builders to&nbsp;the future of&nbsp;product development.",
                })
                @@include("shared/buttons/button.html", {
                    "tag":"a",
                    "href":"href='speakers'",
                    "type":"",
                    "size":"md",
                    "color":"border-dashed",
                    "title":"See all speakers",
                    "attribute":"",
                })
            </div>
            <div class="section__block">
                <div class="the-lineup__transfers">
                    <p>
                        75 + Speakers
                    </p>
                    <p>
                        50 + Sessions
                    </p>
                    <p>
                        8,000 + Attendees
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>